.red {
	background-color: rgba(255,0,0,.5)
}

.white {
	background-color: white;
}

.grey {
	background-color: #f2f2f2;
}

.yellow {
	background-color: rgba(218,165,32,0.5);
}

.black {
		background-color: rgba(0,0,0,0.5);
}

.text-grey {
	color: #505050;
}
