@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }


@import 'https://fonts.googleapis.com/css?family=Pragati+Narrow';
@import 'https://fonts.googleapis.com/css?family=Lora';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';


html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
 	font-family: 'Open Sans', sans-serif;

}


*, *::before, *::after {
  box-sizing: inherit;
}



.current {
	background-color: #e2e2e2;
	color:#fff;
}

.img-s {
	width: 60%;
	float: left;
	padding: 0 1em 0 0;
	margin: 0;
}

.sans {
		font-family: 'Pragati Narrow', sans-serif;
}

.serif {
		font-family: 'Lora', serif;
}

h1 {
	margin: 0 auto;
	width: 100%;
}

.oiaf ul{
	list-style-type: none
}

.main-body {
	padding: 0 1em;
}
.red {
	background-color: rgba(255,0,0,.5)
}

.white {
	background-color: white;
}

.grey {
	background-color: #f2f2f2;
}

.yellow {
	background-color: rgba(218,165,32,0.5);
}

.black {
		background-color: rgba(0,0,0,0.5);
}

.text-grey {
	color: #505050;
}

.divider {
	width: 100%;
	height: 1em;
	background-color: #fff;
	clear: both;
}

.banner {
	position: relative;
	overflow: hidden;
}


.banner h1 {
	position: absolute;
	bottom: 0;

 visibility: hidden;

}

.banner h1 {
color: #fff;
}


.oiaf h3, .quotebook h3{
	border-top: 1px solid #e2e2e2;
}

.arrow-r {
position: absolute;
right: 0;
left: auto;
bottom: auto;
top: auto;
}

.arrow-r img{
	max-width: 25px;
}

.teeth {
	width: 100%;
	height: 5em;
	clear: both;
	position: relative;

}

.teeth img {
	height: 100px;
	position: absolute;
	bottom: 30;
	right: 45%;
}

.teeth img:hover {
	transform: rotate(360deg);
	transition: 900ms ease;
}


.float-left {
	float: left;
}

.img-flex {
  display: block;
  width: 100%;
}

body {
	margin: 0;
}

.round-corner {
	border-radius: 5px;

}

.card {
	display: block;

}

.card img {

	transition: 200ms;

	padding: 0em;
}
.card img:hover {


		padding: .25em;
}

.card a {
	text-decoration: none;
	color: #000;
}

.card a:hover {
	border-bottom: none;
	color: darkred;
}

p a, blockquote a {
	color: darkred;
	text-decoration: none;
	font-weight: bold;


}

p a:hover, blockquote a:hover{
	border-bottom: 1px dashed grey;
}


.card hr {
	width: 15%;
	color: #d0d0d0;
}

.card h2 {

}

header {
	position: relative;
	background-color: #000;

}

header a, .nav-upper a {
	text-decoration: none;
	color: #e2e2e2;
	transition: 200ms ease;
	border-radius: 0px;
}

.nav-upper a{
	color: #505050;
}


header a:hover, {
	text-shadow: 2px -2px rgba(255,255,255,0.5);


}

.hero {
	height: 24em;
	background-image: url(../images/portfolio-banner2.jpg);
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


.adobe li{
	display: inline;
}

.adobe ul {
	list-style-type: none;
}


.adobe li img {
	width: 32px;
}


.nav-lower {
		position: absolute;
		bottom: .5em;
		left: 0;
		color: #e2e2e2;
		letter-spacing: .1em;
}

.nav-lower ul, .nav-upper ul{
	text-decoration: none;
	margin-bottom: 0;

}

.nav-lower li, .nav-upper li {
	display: inline;
}



.intro {
	list-style-type: none
}

.intro li {
	display: inline;
}

hr {
	color: #e2e2e2;
	width: 10%;
}

.nav-upper {
		color: #d2d2d2;
		letter-spacing: .1em;
}


.feature-main {
	margin: 0;
	float: left;
	height: 12em;
	font-weight: bolder;
	overflow: hidden;
	filter: grayscale(75%);
}

.feature-main:hover {
	filter: grayscale(0%);
}

.feature-main a {
	text-decoration: none;
	color: white;
}

.feature-main a:hover {
	text-decoration: underline;
}

.feature-text {
	opacity: 0;
	transition: 200ms ease;
}

.show {
	opacity: 1;
	background: rgba(0,0,0,0.2);
	height: 10em;
	color: #fff;

}


.img-1-m {

	background-image: url(../images/cards/card-image-animation.jpg);
	background-size: cover;
	background-position: top left;
	transition: 1000ms ease-in-out;
	background-repeat: no-repeat;
}

.img-1-m:hover {
	background-color: #000;
	background-size: cover;
	background-position: bottom right;


}

.img-2-m {

	background-image: url(../images/cards/card-image-aa.jpg);
	background-size: cover;
	background-position: top left;
	background-repeat: no-repeat;
	transition: 1000ms;


}

.img-2-m:hover {
		background-color: #000;
		background-position: top right;
		opacity: 1;
}

.img-3-m {
	background-color: #b1b1b1;
}

.img-3-m:hover {
	background-color: #000;
}

.img-4-m {
	background-color: lightgrey;
}

.img-4-m:hover {
	background-color: #000;
}

.img-5-m {
	background-color: grey;
}

.img-5-m:hover {
	background-color: #000;
}

.img-6-m {
	background-color: #c1c1c1;
}

.img-6-m:hover {
	background-color: #000;
}

footer {
	clear: both;
	background-color: #fff
}

footer ul {
	list-style-type: none;
	padding-left: 0;
}

footer ul li {
	display: inline;
}

footer a {
	text-decoration: none;
	color: darkred;
}

footer a:hover {
	background: #e2e2e2;
	color: #505050;
}


.lightbox-img {
	display: none;
}



/* everything before the first breakpoint */
@media only screen and (max-width: 25em) {
	.hero {
		height: 30em;
	}

	.main-unit-2 {
		display: none;
	}

.card img {
	filter: none
}

.banner h1 {
  font-size: 1.2000rem;
  line-height: 1.6250rem;
}


.text-right dl, .text-right h2, .text-right h3{
	text-align: center;
}

.lightbox-img {
	display: none;
}

}


@media only screen and (min-width: 25em) {
	.hero {
		height: 30em;
	}

.img-s {
	width: 100%;
	float: left;
	padding: 0 1em 1em 0;
	margin: 0;
}

}


@media only screen and (min-width: 38em) {

<!-- lightbox -->
.thumbnails {
  margin: 0;
  padding: 0;
}

.thumbnails li {
  display: inline-block;
  transition: 200ms ease;
  background: rgba(192,192,192,0);

}

.thumbnails a {
  display: block;
}
.thumbnails li:hover {
background: rgba(192,192,192,0.3);
border-radius: 3px;

}
.lightbox {
  position: fixed;
  left: 100%;
  right: -100%;
  width: 100%;
  top: 1em;
  bottom: 0;
  background-color: rgba(0,0,0,0);
  opacity: 0;
  transition: all 400ms ease;
}

.lightbox[data-state="visible"] {
  opacity: 1;
  left: 0;
  right: 0;
}




.lightbox-container {
  position: absolute;
  left: -150px;
  right: -150px;
  bottom: 15px;
  top: 15px;


-webkit-box-shadow: 0px 0px 294px 200px rgba(0,0,0,0.01);
-moz-box-shadow: 0px 0px 294px 200px rgba(0,0,0,0.01);
box-shadow: 0px 0px 294px 200px rgba(0,0,0,0.01);

}

.lightbox-img {
  display: block;
  max-height: 30em;
  width: auto;
  margin: 0 auto;
  padding: 1em;
  border-radius: 3px;

  background-color: #fff;
-webkit-box-shadow: 0px 0px 294px 200px rgba(0,0,0,0.25);
-moz-box-shadow: 0px 0px 294px 200px rgba(0,0,0,0.25);
box-shadow: 0px 0px 294px 200px rgba(0,0,0,0.25);
}

.border-l {
		border-left: 1px solid #e2e2e2;
		padding-left: .5em;
}

.firstcharacter {
	float: left;
	color: #505050;
	font-size: 4em;
	line-height: 60px;
	padding-top: 4px;
	padding-right:5px;
	padding-left: 3px;
	line-height: 75%;
	font-weight: bold;
	}


}



@media only screen and (min-width: 60em) {



.header-content {
	bottom: 40%;
 }



.img-s {
	width: 40%;
	float: left;
	padding: 0 1em .5em 0;
	margin: 0;
}

.banner h1 {
	visibility: visible;
}

}
