@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

@import 'https://fonts.googleapis.com/css?family=Gentium+Book+Basic|Open+Sans';
@import 'https://fonts.googleapis.com/css?family=Pragati+Narrow';
@import 'https://fonts.googleapis.com/css?family=Coustard:900';

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
 font-family: 'Pragati Narrow', sans-serif;

}

*, *::before, *::after {
  box-sizing: inherit;
}

.red {
	background-color: rgba(255,0,0,.5)
}

.float-left {
	float: left;
}
.img-flex {
  display: block;
  width: 100%;
}

body {
	margin: 0;
}

header {
	position: relative;
}

header a {
	text-decoration: none;
	color: #e2e2e2;
	background: rgba(0,0,0,0.5);
	transition: 200ms ease;
	border-radius: 0px;
}

header a:hover {
	text-shadow: 2px -2px rgba(255,255,255,0.5);
	color: rgba(255,255,255,0.8);
	transform: rotate(5deg);
	background: rgba(0,0,0,0.4);
	padding-top: 10px;
}

.hero {
	height: 24em;
	background-image: url(../placeholder-img/couch.jpg);
	background-size: cover !important;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	background-position: center;
	background-repeat: no-repeat;

}

.header-content {
	width: 100%;
	position: absolute;
	bottom: 35.5%;
	left: 0;
	color: #e2e2e2;

 }

.h1-index {

	font-family: 'Gentium Book Basic', serif;
	font-family: 'Coustard', serif;
	letter-spacing: 1px;
}

.nav-lower {
		position: absolute;
		bottom: .5em;
		left: 0;
		color: #e2e2e2;
		letter-spacing: .1em;
}

.nav-lower ul{
	text-decoration: none;
	margin-bottom: 0;

}

.nav-lower li {
	display: inline;
}

.feature-main {
	margin: 0;
	float: left;
	height: 12em;
	transition: all 900ms ease;
}
.img-1-m {
	background-color: #c4c4c4;
}

.img-1-m:hover {
	background-color: #000;
}

.img-2-m {
	background-color: #a1a1a1;
}

.img-2-m:hover {
	background-color: #000;
}

.img-3-m {
	background-color: #b1b1b1;
}

.img-3-m:hover {
	background-color: #000;
}

.img-4-m {
	background-color: lightgrey;
}

.img-4-m:hover {
	background-color: #000;
}

.img-5-m {
	background-color: grey;
}

.img-5-m:hover {
	background-color: #000;
}

.img-6-m {
	background-color: #c1c1c1;
}

.img-6-m:hover {
	background-color: #000;
}

footer {
	clear: both;
}

footer ul {
	list-style-type: none;
	padding-left: 0;
}

footer ul li {
	display: inline;
}


@media only screen and (max-width: 25em) {
	.hero {
		height: 30em;
	}

	.main-unit-2 {
		display: none;
	}
}

@media only screen and (min-width: 25em) {
	.hero {
		height: 38em;
	}

}

@media only screen and (min-width: 38em) {

}

@media only screen and (min-width: 60em) {

}
