@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }


@import 'https://fonts.googleapis.com/css?family=Pragati+Narrow';
@import 'https://fonts.googleapis.com/css?family=Lora';
@import 'https://fonts.googleapis.com/css?family=Open+Sans';




.nav-logo {
	min-width: 75px;
	max-width: 100px;
	opacity: .6;
	transition: 200ms ease;
}

.nav-logo:hover {
	opacity: 1;
}

.contact-info a{
	text-decoration: none;
	color: darkred;

}

.contact-info a:hover {
	text-decoration: none;
	color: darkred;
	border-bottom: 1px solid darkred;
}

.contact-info li{
	padding: 0;
}

html {
  box-sizing: border-box;

  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
 	font-family: 'Open Sans', sans-serif;

}

.clear {
	clear: both;
}


*, *::before, *::after {
  box-sizing: inherit;
}



.current {
	border-bottom: 8px solid rgba(0,0,0,0.2);
	color:#fff;
}

.img-s {
	width: 60%;
	float: left;
	padding: 0 1em 0 0;
	margin: 0;
}

.sans {
		font-family: 'Pragati Narrow', sans-serif;
}

.serif {
		font-family: 'Lora', serif;
}

h1 {
	margin: 0 auto;
	width: 100%;
}

.oiaf ul{
	list-style-type: none
}

.main-body {

	max-width: 72em;
	margin: 0 auto;
}
.red {
	background-color: rgba(255,0,0,.5)
}

.white {
	background-color: white;
}

.grey {
	background-color: #f2f2f2;
}

.yellow {
	background-color: rgba(218,165,32,0.5);
}

.black {
		background-color: rgba(0,0,0,0.5);
}

.text-grey {
	color: #505050;
}

.text-white {
	color: #fff;
}

.divider {
	width: 100%;
	height: 1em;
	background-color: #fff;
	clear: both;
}

.banner {
	position: relative;
	overflow: hidden;
}


.banner h1 {
	position: absolute;
	bottom: 0;
	opacity: .2;
	visibility: hidden;
	transition: 2000ms;
}


.banner h1 {
color: #fff;
}

.banner-content ul{
	list-style-type: none;
	margin: 0;
}

.banner-content li {
	display: inline;
	opacity: .6;
}

.banner-content li:hover {
	opacity: .7;
}


.oiaf h3, .quotebook h3{
	border-top: 1px solid #e2e2e2;
}

.teeth{
	height: 2em;
}

.teeth img {
	height: 100px;
	position: absolute;
	bottom: 30;
	right: 45%;
}

.teeth img:hover {
	transform: rotate(-360deg);
	transition: 900ms ease;
}


.float-left {
	float: left;
}

.img-flex {
  display: block;
  width: 100%;
}

body {
	margin: 0;
}

.round-corner {
	border-radius: 5px;

}

.card {
	display: block;

}

.card img {

	transition: 200ms;

	padding: 0em;
}
.card img:hover {


		padding: .25em;
}

.card a {
	text-decoration: none;
	color: #000;
}

.card a:hover {
	border-bottom: none;
	color: darkred;
}

p a, blockquote a {
	color: darkred;
	text-decoration: none;
	font-weight: bold;


}

p a:hover, blockquote a:hover{
	border-bottom: 1px dashed grey;
}


.card hr {
	width: 15%;
	color: #d0d0d0;
}

.card h2 {

}



header {
	position: relative;
	background-color: #000;

}

.header-logo {
	width: 42%;
	opacity: 0.25;
	transition: 300ms ease;
	padding: 1em;
	-webkit-filter: blur(1px);
filter: blur(1px);
}

.header-logo:hover {
	opacity: .5;
-webkit-filter: blur(2px);
filter: blur(2px);

animation: logo 300ms forwards;
}

@keyframes logo {
0% {
		opacity: .5;
-webkit-filter: blur(0px);
filter: blur(0px);
}


13% {
	-webkit-filter: blur(7px);
filter: blur(7px);
}

15% {
	-webkit-filter: blur(15px);
filter: blur(15px);
}


20% {
		opacity: .95;
-webkit-filter: blur(7px);
filter: blur(7px);

}

100% {
		opacity: .7;
-webkit-filter: blur(0px);
filter: blur(0px);

}
}

header a, .nav-upper a {
	text-decoration: none;
	color: #e2e2e2;
	transition: 200ms ease;
	border-radius: 0px;
}

.nav-upper a{
	color: #505050;
}


header a:hover, {
	text-shadow: 2px -2px rgba(255,255,255,0.5);


}

.hero {
	height: 24em;
	background-image: url(../images/portfolio-banner2.jpg);
		background-image: url(../images/banner.jpg);
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #fff;

}


.adobe li{
	display: inline;
}

.adobe ul {
	list-style-type: none;
}


.adobe li img {
	width: 32px;
}


.nav-lower {
		position: absolute;
		bottom: .5em;
		left: 0;
		color: #e2e2e2;
		letter-spacing: .1em;
}

.nav-lower ul, .nav-upper ul{
	text-decoration: none;
	margin-bottom: 0;

}

.nav-lower li, .nav-upper li {
	display: inline;

}

.nav-lower li{
		transition: 300ms ease;
		opacity: 0.5;
}

.nav-lower li a:hover{
	border-bottom: 8px solid rgba(255,255,255,0.2);
}

.nav-lower li:hover {
animation: navpop 300ms forwards;

}

@keyframes navpop {

	0% {
			opacity: .5;
	-webkit-filter: blur(0px);
	filter: blur(0px);
	}


	13% {
		-webkit-filter: blur(1px);
	filter: blur(1px);
	}

	15% {
		-webkit-filter: blur(1.5px);
	filter: blur(1.5px);
	}


	20% {
			opacity: .95;
	-webkit-filter: blur(1.5px);
	filter: blur(1.5px);
	}

	100% {
			opacity: .9;
	-webkit-filter: blur(0px);
	filter: blur(0px);
	}
}



.intro {
	list-style-type: none
}

.intro li {
	display: inline;
}

hr {
	color: #e2e2e2;
	width: 10%;
}

.nav-upper {
		color: #d2d2d2;
		letter-spacing: .1em;
}


.feature-main {
	margin: 0;
	float: left;
	height: 12em;
	font-weight: bolder;
	overflow: hidden;
	filter: grayscale(75%);
}

.feature-main:hover {
	filter: grayscale(0%);
}

.feature-main a {
	text-decoration: none;
	color: white;
}

.feature-main a:hover {
	text-decoration: underline;
}

.feature-text {
	opacity: 0;
	transition: 200ms ease;
}



footer {
	clear: both;
	background-color: #fff
}

footer ul {
	list-style-type: none;
	padding-left: 0;
}

footer ul li {
	display: inline;
}

footer li a {
	text-decoration: none;
	color: darkred;

}

footer li a:hover {
	background: #e2e2e2;
	color: #505050;

}

footer img {
	opacity: .8;
	transition: 200ms ease;
}

footer img:hover {
	opacity: 1;
}

.show {
	opacity: 1;
	background: rgba(0,0,0,0.2);
	height: 10em;
	color: #fff;

}

.lightbox-img {
	display: none;
}



