/* everything before the first breakpoint */
@media only screen and (max-width: 25em) {
  .hero {
    height: 30em;
  }

  .main-unit-2 {
    display: none;
  }

  .card img {
    filter: none;
  }

  .banner h1 {
    font-size: 1.2rem;
    line-height: 1.625rem;
  }

  .text-right dl,.text-right h1,.text-right h2,.text-right h3 {
    text-align: center;
  }

  .lightbox-img {
    display: none;
  }

  .teeth {
    display: none;
  }

}

@media only screen and (min-width: 25em) {
  .hero {
    height: 30em;
  }

  .img-s {
    width: 100%;
    float: left;
    padding: 0 1em 1em 0;
    margin: 0;
  }
}

@media only screen and (min-width: 38em) {

  <!-- lightbox -->
  .thumbnails {
    margin: 0;
    padding: 0;
  }

  .thumbnails li {
    display: inline-block;
  }

  .thumbnails li:hover {
    background: #e2e2e2;
  }

  .thumbnails a {
    display: block;
  }

  .lightbox {
    position: fixed;
    left: 100%;
    right: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    transition: all 200ms ease-in-out;
  }

  .lightbox[data-state="visible"] {
    opacity: 1;
    left: 0;
    right: 0;
  }

  .lightbox-container {
    position: absolute;
    left: 3em;
    right: 3em;
    bottom: 3em;
    top: 3em;
    background-color: rgba(0,0,0,0);
    border-radius: 6px;
  }

  .lightbox-img {
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 1em;
    background: #e2e2e2;
    max-height: 29em;
    width: auto;
    margin: 0 auto;
    -webkit-box-shadow: 10px 10px 29px 9px rgba(0,0,0,0.2);
    -moz-box-shadow: 10px 10px 29px 9px rgba(0,0,0,0.2);
    box-shadow: 10px 10px 29px 9px rgba(0,0,0,0.2);
  }

  .lightbox-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 2em);
    transform: translate(-50%,-50%);
    background-color: rgba(0,0,0,0);
    padding: 0;
  }

  .border-l {
    border-left: 1px solid #e2e2e2;
    padding-left: .5em;
  }

  .border-r {
    border-right: 1px solid #e2e2e2;
    padding-left: .5em;
  }

  .firstcharacter {
    float: left;
    color: #505050;
    font-size: 4em;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 5px;
    padding-left: 3px;
    line-height: 75%;
    font-weight: 700;
  }
}

@media only screen and (min-width: 60em) {
  .header-content {
    bottom: 40%;
  }

  .img-s {
    width: 40%;
    float: left;
    padding: 0 1em .5em 0;
    margin: 0;
  }

  .banner h1 {
    visibility: visible;
  }
}

@media only screen and (min-width: 90em) {
  p {
    margin-right: auto;
    max-width: 60em;
  }

  blockquote {
    padding: 0;
    margin: 0;
  }

  .lightbox-img {
    display: block;
    width: 100%;
    border-radius: 5px;
    padding: 1em;
    max-height: 35em;
    width: auto;
    margin: 0 auto;
  }
}
