<div class="grid grid-middle island relative">



<div class="grid grid-middle win-full birdy island relative">

  <div class="unit max-length xs-1 s-1 m-1 l-1-2">
    <img class="img-flex island floaty" src="images/img-2/chicadeefight-2.png">
  </div>


  <div class="unit gutter quotes gutter text-p xs-1 s-1 m-1 l-1-2">
    <p class="text-p kern tera push-0 bold font-2">There's a bluebird in my heart</p>
    <p class="text-p milli font-2 italic">that
      <span class="mega">wants</span> to get out<br>
      but I'm too <span class="kilo">tough</span> <span class="mega">for</span><span class="mega"> him,</span><br>
      <span class="mega">I</span><span class="kilo"> say</span>,
      <span class="milii">stay </span><span class="micro">down</span>,<br> do you <span class="mega">want</span> to mess me <span class="mega">up?</span><br>
      <span class="kilo">you</span> <span class="mega">want</span> to <span class="micro">screw up the works?</span><br>
      you want to <span class="kilo">blow my <span class="mega">book</span> <span class="kilo">sales</span></span> in Europe? </p>
  </div>
</div>


</div>
