  <footer class="grid sans footer text-upper text-center island-1-2 xs-1 s-1 m-1 l-1">
    <div class="unit island xs-1 s-1 m-1 l-1">
        <ul class="kilo push-1-2">
          <li class="gutter-1-2"><a href="mailto:chellelorenzen@gmail.com?Subject=I%20like%20your%20hair." target="_top">Email</a></li>
          <li class="gutter-1-2"><a href="https://www.instagram.com/hellachella79/">insta</a></li>
          <li class="gutter-1-2"><a href="https://www.behance.net/hellachella">behance</a></li>
          <li class="gutter-1-2"><a href="{{site.baseurl}}/index.html">home</a></li>
          <li class="gutter-1-2 mega"><a href="{{site.baseurl}}/test.html">TEST</a></li>
        </ul>
        <p class="text-lower milli">© Chelle Lorenzen/Hellachella 2016</p>
      </div>
  </footer>
