<div class="grid grid-middle sans nav-upper">
  <div class="pad-t-1-2 pad-b-1-4 gutter unit xs-1-2 s-1-2 m-1-2 l-1-2">
    <a href="{{site.baseurl}}/index.html"><img class="nav-logo" src="images/logo-web.svg" alt="Chelle wordmark">
    </a>
  </div>


  <div class="kilo island-1-2 text-right text-upper unit xs-1-2 s-1-2 m-1-2 l-1-2">
    <ul class="pad-0">
      <li class="gutter-1-4"> <a href="{{site.baseurl}}/index.html">home</a> </li>
      <li itemprop="email" class="gutter-1-4"><a href="mailto:chellelorenzen@gmail.com?Subject=I%20like%20your%20hair." target="_top">contact</a>
      <li><a href="{{site.baseurl}}/about.html" class="{% if page.url == '/about.html' %}current{% endif %}">about</a></li>
    </ul>
  </div>
</div>
