<div class="menu text-color-3 text-white grid relative">
  <div class="relative unit xs-1 s-1 m-0 l-0 xl-0 absolute pin center-top">
    <p class="text-red bold gutter-2 nina color-2 text-lower pad-t close-menu absolute pin-right-top">xxx<p>
    <ul class="tenamega bold text-center list-group">

      <li class="island"><a href="#">About</a></li>
      <li class="island"><a href="{{site.baseurl}}/work-2.html">Work</a></li>
      <li class="island"><a href="#">Contact</a></li>
      <li class="island"><a href="#">Home</a></li>
      <li class="island"><a href="{{site.baseurl}}/store.html">Shop</a></li>


    </ul>
  </div>
</div>

<div class="nav-2 grid grid-middle relative">

  <div class="unit xs-1 s-1 m-0 l-0 xl-0">
    <p class="gutter-2 tenamega push-l text-lower open-menu text-right absolute pin-right-center push-0">o</p>
  </div>

  <div class="unit xs-1 s-1 m-2-3 l-3-4 pad-t pad-b">
    <a href="{{site.baseurl}}/test.html"><img class="logo gutter"src="images/logo-web.svg" alt="logo"></a>
</div>

  <div class="milli menu-l nav-text unit xs-0 s-0 m-1-3 l-1-4">
    <ul class="push-0 list-group list-group-inline">

      <li class="gutter-1-4"><a href="{{site.baseurl}}/work-2.html">Work</a></li>
      <li class="gutter-1-4">About</li>
            <li class="gutter-1-4"><a href="{{site.baseurl}}/store.html">Shop</a></li>
    </ul>
  </div>

</div>
