<div class="grid grid-stretch">

  <div class="bullshit pad-t-2 pad-b-2 font-3 center-content text-center unit xs-1 s-1 m-1-2 l-1-2">
    <p class="push tenamega pad-b-2 gutter line-height-xs kern">Everyday <br>Bullsh!t</p>
    <a href="#" class="btn push">Buy now</a>
  </div>

  <div class="pink center-content bullshit-img line-height-xs unit xs-1 s-1 m-1-2 l-1-2">
    <p class="font-4 text-upper island pad-t pad-b micro not-bold island-1-2 push-0">— A copper<br> bottomed —<br>card house </p>
  </div>
</div>
</div>
