<!DOCTYPE html>
<html lang="en-ca">

<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} · {% endif %}Chelle — Portfolio
  </title>
  <meta name="description" content="{% if page.meta %}{{page.meta}}{% endif %} Chelle">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/module.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/media-queries.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/dev.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic" rel="stylesheet">

  <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
  <meta name="description" content="{{page.meta}}">
</head>





<body itemref="data-author" itemscope itemtype="https://schema.org/WebSite" class="main-body oiaf">

{% include nav-non-index.html %}

<div class="divider push grey"></div>


{{content}}

    <div class="lightbox" data-state="hidden">
      <div class="lightbox-container">
        <div class="lightbox-content">
          <h2 class="lightbox-heading kilo serif"></h2><img alt="" class="img-flex lightbox-img">
          <p class="lightbox-desc kilo sans"></p>
        </div>
      </div>
    </div>

<div class="divider push"></div>
<div class="divider grey"></div>

{% include footer.html %}

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
<script src="{{site.baseurl}}/js/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-localScroll/1.4.0/jquery.localScroll.min.js"></script>
  <script src="{{site.baseurl}}/js/localscroll.js"></script>

</body>
</html>
