<!DOCTYPE html>
<html lang="en-ca">

<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{page.title}} · {% endif %}Chelle — Portfolio
  </title>
  <meta name="description" content="{% if page.meta %}{{page.meta}}{% endif %} Chelle">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta name="google-site-verification" content="RTAbS9mNZpfP9lD1OC2SQB7dII6YLxPGYYSfcS0dFhY" />
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/module.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/media-queries.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/dev.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Gentium+Book+Basic" rel="stylesheet">

  <link href="favicon.ico" rel="shortcut icon" type="image/x-icon">
  <meta name="description" content="{{page.meta}}">


  <meta property="og:type" content="article">
  <meta property="og:title" content="{% if page.title %}{{page.title}} · {% endif %}Chelle — Portfolio">
  <meta property="og:url" content="http://chellelorenzen.com">
  <meta property="og:image" content="images/soccard.jpg">
  <meta property="og:site_name" content="Chelle Lorenzen · Portfolio">
  <meta property="og:description" content="{{page.meta}}">


  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{% if page.title %}{{page.title}} · {% endif %}Chelle — Portfolio">
  <meta name="twitter:url" content="http://chellelorenzen.com">
  <meta name="twitter:description" content="{% if page.meta %}{{page.meta}}{% endif %} Chelle">
  <meta name="twitter:image" content="image/soccard.jpg">

</head>



<body itemref="data-author" itemscope itemtype="https://schema.org/WebSite" class="main-body">

{% include nav-non-index.html %}

<div class="divider push grey"></div>


{{content}}

    <div class="lightbox" data-state="hidden">
      <div class="lightbox-container">
        <div class="lightbox-content">
          <h2 class="lightbox-heading kilo serif"> </h2><img alt="" class="img-flex lightbox-img">
          <p class="lightbox-desc kilo sans"></p>
        </div>
      </div>
    </div>

<div class="divider push"></div>
<div class="divider grey"></div>

{% include footer.html %}

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
<script src="{{site.baseurl}}/js/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-localScroll/1.4.0/jquery.localScroll.min.js"></script>
  <script src="{{site.baseurl}}/js/localscroll.js"></script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-87576390-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
